.profil {
    margin-left: 2%;
    margin-top: 60px;
    overflow: hidden;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleProfil {
    margin-top: 30px;
    color: white;
}

.tabs {
    color:#fff;
}

.tabs:active {
    background-color: #fc2e07;
}