.navbar {
    background-color: #fff;
}

.linkLogo {
    width: 70%;
}

.imageLogo {
    height: 50px;
    width: 50px;
}

.logo {
    width: 100%;
}

.name {
    color: #fc2e07;
    font-family: 'Nunito', sans-serif;
}

.menu {
    background-color: white;
    width: 800px;
}


.link:hover {
    border-bottom: 2px solid #3f5efb;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 992px) {
    .logo {
        width: 80%;
    }
}