.index {
    margin-top: 110px;
    height: 98vh;
    overflow: hidden;
}

.title {
    color:white;

}

.describe {
    color:#ddd
}

.btnLogin {
    background-color: #fc2704;
    color: white;
}

.btnLogin:hover {
    background-color: #fc9984;
    color: white;
}

.btnSignup {
    background-color: white;
    color: #fc2704;
}

.btnSignup:hover {
    background-color: #fc9984;
    color: white;
}

.communication {
    margin-bottom: 5%;
}

.img {
    margin-bottom: 1.1rem;
}

/* MEDIA QUERIES
@media screen and (min-width: 600px) {
    .logo {
        width: 80%;
    }
  } */
