body
{
	margin: 0;
	background: linear-gradient(45deg, #FC466B, #3F5EFB);
	display: flex;
	align-items: center;
	justify-content: space-around;

}

code
{
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

